
.main-header {
    padding-inline: 20px;
    background-color: var(--clr5);
    height: 50px;
    margin: 0;
    box-shadow: 0px 1px 0px var(--clr7);
}

.logo {
    height:32px;
    width: 152px;
}


.main-header .main-nav li:not(:last-child) {
    margin-inline-end: 50px;
}

.main-header .main-nav a {
    color: var(--clr2);
    text-decoration: none;
}

.main-header .main-nav a.active {
    color: var(--clr3);
}
.main-header .main-nav a.active:hover {
    cursor:default;
}

.main-header .main-nav a:hover {
    color: var(--clr3);
}
