

.text-editor{
    border: 1px solid grey;
    border-radius: 14px;
}

.text-editor .editor-toolbar{
    display: flex;
    background: white;
    padding: 12px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom: 1px solid grey;

}


.text-editor .editor-toolbar select {
    flex-grow: 1;
    margin-block-end: .25em;
}

.text-editor .editor-toolbar select {
    flex-grow: 2.15;
}

.text-editor> input{
    width: 100%;
    padding: 12px;
    border: none;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.toolbar-btns button {
    background: none;
    border: none;
    margin: 0.05em;
    
}
.toolbar-btns{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


@media (max-width: 700px){
    .editor-toolbar {
        flex-direction: column;
    }

    .text-editor .editor-toolbar select {
        flex-grow: 1;
    }
    
    .text-editor .editor-toolbar select {
        flex-grow: 1;
    }
}